

Table#calc_skeleton, tr, td {
    padding: 5px;
    border: 1px dashed black;
    border-collapse: collapse;  
    background-color: skyblue;
}

#text_res {
    width: 200px;
    height: 50px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(236, 223, 223);
    text-align: right;
}


.button.number {
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(204, 22, 22);
    background-color: rgb(28, 224, 149);
}


.button.sign {
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: cornflowerblue;
    background-color: rgb(231, 217, 20);    
}

#reset_button , #equal_button, #dot_button {
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgba(224, 139, 28, 0.925);
}